body {
background: [Garnett red];
font-family: Arial, Helvetica, sans-serif;
}
h1 {
color: [Black];
text-align: center;
}
.assign {
display: flex;
padding: 10px;
margin: 10px;
background: [White];
}
.assign img {
width: 200px;
padding: 10px;
}
