/* Structure */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Header */
#main-header {
    background-color: #4a90e2;
    color: white;
    padding: 20px;
    text-align: center;
}


/* Assignments Container */
#assignments-container {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    max-width: 1500px;
}

/* Assignment Wrapper */
.assignment-wrapper {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 20px;
    padding: 20px;
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    list-style: none;
}

/* Projects Container */
#projects-container {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    max-width: 1500px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Project Wrapper */
.project-wrapper {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 20px;
    padding: 20px;
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    list-style: none;
}

/* Footer */
#main-footer {
    background-color: #4a90e2;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

/* Media Query */
@media (max-width: 768px) {
    #assignments-container, #projects-container {
        flex-direction: column; /* Stack assignments and projects vertically on small screens */
        align-items: center;
    }

}