/* Structure */
:root{
    --fircolor:#4a90e2;
    --seccolor:white;
    --thicolor:#333;
    --fifcolor:#f0f0f0;
    --sixcolor:#ffffffe6;
    --sevcolor:#EB9E82;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--fifcolor);
    color: var(--thicolor);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
body li{
    color:var(--sevcolor);
}
body a{
    text-decoration: none;
}


/* Header */
#main-header {
    background-color: var(--fircolor);
    color: var(--seccolor);
    padding: 20px;
    text-align: center;
}


/* Assignments Container */
#assignments-container {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    max-width: 1500px;
}
#assignments-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* Assignment Wrapper */
.assignment-wrapper {
    background-color: var(--sixcolor);
    margin: 20px;
    padding: 20px;
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 15px var(--thicolor);
    text-align: center;
    list-style: none;
}
.assignment-wrapper {
    width: 48%;
    margin-bottom: 20px;
}
.assignment-wrapper img {
    max-width: 100%;
    height: auto;
    display: block;
}

.assignment-wrapper {
    overflow: hidden;
    text-align: center; /* To center the image horizontally */
}


/* Projects Container */
#projects-container {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    max-width: 1500px;
    background-color: var(--sixcolor);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px var(--thicolor);
}

/* Project Wrapper */
.project-wrapper {
    background-color: var(--sixcolor);
    margin: 20px;
    padding: 20px;
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 15px var(--thicolor);
    text-align: center;
    list-style: none;
}

/* Footer */
#main-footer {
    background-color: var(--fircolor);
    color: var(--seccolor);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}



/* Media Query */
@media (max-width: 768px) {
    #assignments-container, #projects-container {
        flex-direction: column; /* Stack assignments and projects vertically on small screens */
        align-items: center;
    }
   

}
